<div class="container" data-controller="hello" data-hello-url-value=<%=order_items_path%> >
<h1>Cart_Items</h1>
<br>
<br>
<br>
<% @order_items.each do |item| %>
    <%= image_tag(item.product.image, :size => "200x200")%><br>
    <br>
    <h3><%= item.product.name %></h3>
    <h5><%= number_to_indian_currency(item.product.price) %></h5>
    
    

    <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :product_id, :value => item.product.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i, :min=> 1 %>
        <%= f.submit "Update Card ", class: "btn btn-primary btn-sm"%>
        <%= link_to "Remove Item", order_item_path(item), method: :delete, remote: true , class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure? You want to delete this Product' }  %>
        
    <% end %><br>
    <h2>Subtotal: <%= number_to_indian_currency(item.product.price * item.quantity.to_i) %></h2>
  <div data-controller="hello">
  
  <div class = "detail" data-hello-target="detail">
   <!--<p><strong> <%= item.product.name %> </strong>
   <br><%= number_to_indian_currency(item.product.price) %></p>-->
   </div>
   <button class="btn btn-primary btn-sm", data-action="click->hello#greet">Alert</button>
  </div>
<br>
<br>
<br>
<% end %>
<h1>Total: <%= number_to_indian_currency(@order) %></h1>
<%= link_to "Proceed to checkout", new_checkout_path, class: "btn btn-primary btn-sm" %><br>



