<!--<h1>New Product</h1>

<%= form_with model: @product do |form| %>

    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% @product.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :model %><br>
        <%= form.text_field :model %>
        <% @product.errors.full_messages_for(:model).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :colour %><br>
        <%= form.text_field :colour %>
        <% @product.errors.full_messages_for(:colour).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :camera %><br>
        <%= form.text_field :camera %>
        <% @product.errors.full_messages_for(:camers).each do |message| %>
            <div><%= message %></div>
        <% end %>
    <div>

    <div>
        <%= form.label :price %><br>
        <%= form.text_field :price %>
        <% @product.errors.full_messages_for(:price).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.submit %>
    </div>
<% end %>-->

<h1> New Product </h1>
<br>
<%= render "form", product: @product %>