<div class="container"  height= "300px" style=" width: 500px">
  <div class="card-body">
  <table class="table">
<h1><%= @product.name %></h1>
<br>
<%=  link_to image_tag(@product.image, style: 'width:100%'), products_path if @product.image.attached? %>
<p>
<br>
  <strong>Model:</strong>
  <%= @product.model %>
</p>
<p>
  <strong>Colour: </strong>
  <%= @product.colour %>
</p>
<p>
<!--
  <strong>Camera:</strong>
  <%= @product.camera %>
</p>-->
<p>
  <strong>Price(Rs.):</strong>
  <%= number_to_indian_currency(@product.price) %>
</p>
</table>
  <%= link_to "Edit", edit_product_path(@product), class: "btn btn-primary btn-sm" %>
  <%= link_to "Home", products_path(@product), class: "btn btn-secondary btn-sm" %>
  <%= link_to "Destroy", product_path(@product), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure...You want to delete the Product? " } %><br><br>
  <%= link_to "Add to Cart", line_items_path(@product), class: "btn btn-warning" %>
</div>
</div>
